@font-face {
    font-family: 'Determination';
    src: url('./assets/fontes/determination.ttf');
}

@font-face {
    font-family: 'Comic Sans';
    src: url('./assets/fontes/comicsans.ttf');
}

@keyframes konam {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

body {
    background: rgb(0, 0, 0);
    font: normal 20pt Arial;
}

header {
    color: white;
    text-decoration: blueviolet;
    text-align: center;
    text-justify: auto;
}

.containersans {
    display: flex;
    justify-content: center;
    margin: 25px;
} 
.sans {
    max-width: 182px;
    top: 50px;
    user-select: none;
}

.section {
    user-select: none;
    background: rgba(0, 255, 76, 0);
    max-width: 566px;
    height: 132px;
    margin: auto;
    margin-top: 40px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 5px;
}
.asterisco {
    position: absolute;
    margin: 10px;
    color: white;
    font-family: 'Determination';
    font-size: 130%;
    user-select: none;
}
.cx {
    resize: none;
    overflow: hidden;
    font-family: 'Determination';
    word-wrap: break-word;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    height: 80%;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 100%;
    outline:none;
    border-color: transparent;
    scrollbar-highlight-color: transparent;
}
.hp {
    text-align: center;
    margin-top: 30px;
}
.botões {
    justify-content: center;
    display: grid;
    grid-template-rows: 42px;
    grid-template-columns: repeat(4, 110px);
    grid-gap: 45px;
    margin-top: 20px;
    height: 10px;
    color: white;
}
.fight {
    background-image: url("./assets/imagens/botoes/fight.png");
}
.act {
    background-image: url("./assets/imagens/botoes/act.png");
}
.item {
    background-image: url("./assets/imagens/botoes/item.png");
}
.spare {
    display: flex;
    background-image: url("./assets/imagens/botoes/spare.png");
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo {
    margin-left: 10px;
    pointer-events: none;
    user-select: none;
}
.final {
    margin: auto;
    width: 60%;
    margin-top: 70px;
    text-align: center;
    color: white;
    font-family: 'Comic Sans';
    word-wrap: break-word;
}